<h1>Listing Avocado Posts</h1>

<%= link_to 'New Post', new_post_path  %>

<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan='3'></th>
    
    </tr>

    <% @posts.each do |post| %>

        <tr>
            <td><%= post.title %></td>
            <td><%= post.content %> </td>
            <td><%= link_to 'Show', post_path(post) %> </td>
            <td><%= link_to 'Edit', edit_post_path(post) %> </td>
            <td><%= link_to 'Delete', post_path(post),
                method: :delete, data: { confirm: 'Are you sure?' } %>  </td>
        
        </tr>
    <% end %>

</table>

<%= link_to 'Back', home_index_path  %>